.home {
    height:100%;
    padding-top:40vh;
    overflow:hidden;
    align-items: center;
    text-align: center;
    background: 
        linear-gradient(
            top right,
            rgba($primary-color, 0.9),
            rgba($primary-color, 0.4)
        ),
        url(../img/lachlan-dempsey-6VPEOdpFNAs-unsplash.jpg) center top;
    background-size: cover;

    &__name {
        font-size:5rem;
        padding-bottom:1rem;
        margin-bottom:1rem;
        border-bottom: 2px solid set-text-color($primary-color);

        &--last {
            color: $secondary-color;
            font-weight: 700;
            animation: lastName 5s infinite;

            &--border {
                border-bottom:40px solid set-text-color($primary-color);
                width:60%;
            }
        }
    }

    .social-icons {
        left:0;
        right:0;
        position:initial;
        margin-top:2rem;
    }

    footer {
        right:0;
        left:0;
    }
}

@keyframes lastName {
    0% {
        color: $secondary-color;
    }
    10% {
        color:#6b4e54;
    }
    25% {
        color: #522a32;
    }
    50% {
        color: #273C2C;
    }
    75% {
        color:#522a32;
    }
    80% {
        color:#6b4e54;
    }
    100% {
        color:$secondary-color;
    }
}